@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "Londrina Solid", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--serif: Iowan Old Style, Times New Roman, Times, serif;
	--mono: "Inconsolata";
	--mono: "Monaspace";
	--mono: "Chivo Mono";
	--mono: "SomeType Mono", Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--border-radius: 2px;
	--font-body: var(--sans);
	--font-form: var(--sans);
	--color-bg: var(--color-yellow);
	--color-fg: var(--color-black2);
	--color-primary: var(--color-black2);
	--color-link: var(--color-black2);
	--color-focus: var(--color-red);
	--color-mark: var(--color-yellow);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-bg: var(--color-fg);
	--color-button-fg: var(--color-white);
	--color-button-hover: var(--color-black);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);

	/* "1" second duration */
	--1s: 1ms;
}

/* dark theme */
/* this is a starting place for dark mode - test before deploying */

/* @media screen and (prefers-color-scheme:dark) {
	:root {
		--color-bg: var(--color-gray-900);
		--color-fg: var(--color-gray-100);
		--color-primary: var(--color-white);
		--color-link: var(--color-white);
		--color-focus: var(--color-red);
		--color-mark: var(--color-yellow);
		--color-selection: var(--color-gray-600);
		--color-border: var(--color-gray-600);
		--color-button-bg: var(--color-gray-600);
		--color-button-fg: var(--color-gray-100);
		--color-button-hover: var(--color-gray-700);
		--color-input-bg: var(--color-gray-800);
		--color-input-fg: var(--color-gray-100);
		--color-placeholder: var(--color-gray-400);
		--color-text-outline: var(--color-bg);
	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

body {
	background-image: linear-gradient(
  160deg,
  hsl(40deg 100% 75%) 0%,
  hsl(36deg 100% 74%) 21%,
  hsl(32deg 100% 74%) 30%,
  hsl(28deg 100% 74%) 39%,
  hsl(24deg 100% 74%) 46%,
  hsl(19deg 100% 74%) 54%,
  hsl(14deg 100% 74%) 61%,
  hsl(8deg 100% 75%) 69%,
  hsl(2deg 100% 76%) 79%,
  hsl(355deg 100% 75%) 100%
);
	background-repeat: no-repeat;
	min-height: 100svh;
}

h1 {
	font-size: clamp(64px, 8vw, 96px);
	font-weight: 900;
	line-height: 0.8;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	line-height: 0.8;
	font-size: clamp(32px, 4vw, 64px);
	font-weight: 900;
	text-transform: uppercase;
	margin: 0;
}

h3 {
	line-height: 0.8;
	font-size: clamp(24px, 2.5vw, 48px);
	font-weight: 900;
	text-transform: uppercase;
	margin: 0;
}

h4 {
	font-size: var(--24px, 24px);
}

h5 {
	font-size: var(--22px, 22px);
}

h6 {
	font-size: var(--20px, 20px);
}

p, ul, button, input, select, textarea, a[role="button"] {
	font-size: clamp(16px, 1.5vw, 24px);
	font-family: var(--mono);
	font-weight: 500;
}

p { 
	margin: 8px auto;
}

button, a[role="button"] {
	padding: 16px;
	text-transform: uppercase;
}
