@font-face {
	font-family: "Londrina Solid";
	src: url("https://nocomplyfoods.com/assets/fonts/londrina/LondrinaSolid-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	font-display: block;
}

@font-face {
	font-family: "Londrina Solid";
	src: url("https://nocomplyfoods.com/assets/fonts/londrina/LondrinaSolid-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: block;
}

@font-face {
	font-family: "Sometype Mono";
	src: url("https://nocomplyfoods.com/assets/fonts/sometype/SometypeMono-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: block;
}

@font-face {
	font-family: "Sometype Mono";
	src: url("https://nocomplyfoods.com/assets/fonts/sometype/SometypeMono-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: block;
}