@font-face {
	font-family: "Londrina Solid";
	src: url("/assets/fonts/londrina/LondrinaSolid-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

/* @font-face {
	font-family: "Londrina Solid";
	src: url("/assets/fonts/londrina/LondrinaSolid-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
} */

@font-face {
	font-family: "Sometype Mono";
	src: url("/assets/fonts/sometype/SometypeMono-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Sometype Mono";
	src: url("/assets/fonts/sometype/SometypeMono-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}